.fundoTransparence{
	background: rgba(216,216,216,.6);
}

body{
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/3a/01/f9/3a01f9efb416eb22ce9cb157e08d91f8.jpg");
	text-align: center;
	top: 50%;
	font-family: Copperplate Gothic;	
}

h1{
	
	color: #150015;
	font-size: 250%;
	text-aling: center;

}

h2{
	color: #000016;
	font-size: 200%;
	text-align: center;
}

p{
	font-size: 150%;
	color: #0b0000;
	text-aling: center;

}

a{
	color: white;  
	font-size: 20px;	
}

a:hover{
	background-color: gray;
	color: white;
	
}


li a{
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.navbar-default .navbar-nav>li>a{
	color:white;
	padding: 15px 60px;
	text-align: center;
}

article{
	padding: none;
	border: 2px solid white;
	width: 400px;
	height: auto;
	float: left;
	text-aling: center;
}

aside{
	margin:auto;
	background: rgba(255, 255, 255,0.4);
	text-align: center;
	color: #400000;
	padding: 12;
}







